body{
    background-image: url('../imagenes/wallpaper.jpg');
}

.contenedor{
   position: relative;
   width: 99%;
}

.div-formulario-ingreso {
   position: relative;
   height: 100vh;
   overflow: auto;
   padding-right: 30px;
   padding-left: 30px;
   border-left: 1px solid black;
   background-color: #6b5b95;
   opacity: 1;
   float: left;
}

.formulario-ingreso {
   position: relative;
   margin-top: 110px;
   justify-content: center;
}